<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}Squarestrap{{/i}}</h1>
    <p>{{_i}}Twitter Bootstrap without rounded corners, <br/> gradients and shadows.{{/i}}</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.0']);"{{/production}}>{{_i}}Download Squarestrap{{/i}}</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/yemyat/squarestrap" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production}}>{{_i}}GitHub project{{/i}}</a>
      </li>
      <li>
        {{_i}}Version 0.1.0 based on Bootstrap 2.3.0{{/i}}
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li class="follow-btn">
        <a href="https://twitter.com/yemyat91" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">{{_i}}Follow @yemyat91{{/i}}</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://github.com/yemyat/squarestrap" data-count="horizontal" data-via="yemyat91">Tweet</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>{{_i}}Introducing Squarestrap.{{/i}}</h1>
    <p class="marketing-byline">{{_i}}Need reasons to love Bootstrap? Look no further.{{/i}}</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-twitter-github.png">
        <h2>{{_i}}By nerds, for nerds.{{/i}}</h2>
        <p>{{_i}}Built at Twitter by <a href="http://twitter.com/mdo">@mdo</a> and <a href="http://twitter.com/fat">@fat</a>, Bootstrap utilizes <a href="http://lesscss.org">LESS CSS</a>, is compiled via <a href="http://nodejs.org">Node</a>, and is managed through <a href="http://github.com">GitHub</a> to help nerds do awesome stuff on the web.{{/i}}</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-responsive-illustrations.png">
        <h2>{{_i}}Made for everyone.{{/i}}</h2>
        <p>{{_i}}Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via <a href="./scaffolding.html#responsive">responsive CSS</a> as well.{{/i}}</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-bootstrap-features.png">
        <h2>{{_i}}Packed with features.{{/i}}</h2>
        <p>{{_i}}A 12-column responsive <a href="./scaffolding.html#gridSystem">grid</a>, dozens of components, <a href="./javascript.html">JavaScript plugins</a>, typography, form controls, and even a <a href="./customize.html">web-based Customizer</a> to make Bootstrap your own.{{/i}}</p>
      </div>
    </div>

  </div>{{! /.marketing }}

</div>{{! /.container }}
